boto3
# HEAD version of geopandas/ intake-geopandas to allow inmemeory read of zipped shapefiles
git+git://github.com/geopandas/geopandas@master#egg=geopandas
intake
git+git://github.com/intake/intake-geopandas@master#egg=intake-geopandas
intake-xarray
netcdf4
numpy
pandas
pyyaml
questionary
rioxarray
s3fs
streamlit
streamlit-folium
tqdm
xarray
